h1 {
  justify-self: last;
  margin: 100px;
  padding: 0%;
  font-size: 32px;
}

.container {
  display: grid;
  width: 100%;
  grid-template-columns:
    minmax(200px, 40%)
    minmax(200px, 40%);
  gap: 30px;
  justify-content: center;
  pad: 40px;
  max-width: 100%;
  margin: 0 auto;
}

.text-content {
  justify-self: start;
  font-size: 16px;
}

.image-container {
  justify-self: end;
}

img {
  width: 100%;
  height: 80%;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.services h2 {
  margin-bottom: a;
  font-size: 32px;
}

.services-headers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 20px;
}

.services-paragraphs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  font-size: 16px;
}

.services h3,
.services h4,
.services h5 {
  margin-bottom: 15px;
  text-align: left;
  font-size: 22px;
}
